# environments
.env

# artifacts
# artifacts/
# runs_db/
mlruns/*
runs/*
# !.gitignore
# !.gitkeep

# Python
__pycache__/
*.pyc

# notebooks
notebooks/
.ipynb_checkpoints/

# data
Resume_new.docx

# raglab
raglab/orchestrators/demo_eval.py
demo_ray_runner.py
data_eval/*